// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "map";

.card-img-top {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
