// TODO: figure out how to import petpad colours

.navbar-petpad {
  justify-content: space-between;
  background: #CCCCCCFF;
}

.navbar-petpad .navbar-collapse {
  flex-grow: 0;
}

.navbar-petpad .navbar-brand img {
  width: 40px;
}

.navbar-petpad .nav-link {
  color: black;

  &:hover {
    color: #FA009CFF;
  }
}