// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/bookings";
@import "components/banner";
@import "components/button";
@import "components/navbar";
@import "pages/show";
@import "components/price-circle";
@import "pages/home";

.happy-pets {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  }


//// petpad colour palette
//$pp-green: #B6EADA;
//$pp-pink: #FA009C;
//$pp-black: #03001C;
//$pp-white: #FEFAFA;
//$pp-grey: #cccccc;
//
//$spacer: 8px;
